# Importing Python Libraries

In [1]:
import requests
import json
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [3]:
cur.execute("""SELECT Match_ID, TeamName, HomeTeam, AwayTeam, Date, Season, Div, 
                FTHG AS HomeTeamGoals, FTAG AS AwayTeamGoals, FTR AS Winners
                FROM Matches
                JOIN Teams_in_Matches
                USING (Match_ID)
                JOIN Unique_Teams
                USING (Unique_Team_ID)
                WHERE Season = 2011
                ;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head()

,Match_ID,TeamName,HomeTeam,AwayTeam,Date,Season,Div,HomeTeamGoals,AwayTeamGoals,Winners
0,1092,Bayern Munich,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A
1,1092,Nurnberg,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A
2,1093,Bayern Munich,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A
3,1093,Stuttgart,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A
4,1094,Bayern Munich,Wolfsburg,Bayern Munich,2011-08-13,2011,D1,0,1,A

In [4]:
all_games = len(df)/2
non_German_div_index = df[df['Div'] == "E0" ].index
df.drop(non_German_div_index , inplace=True)
german_games = len(df)/2
print("{} games removed!".format(int(all_games - german_games)))

380 games removed!

In [5]:
for i, row in df.iterrows():
    if row.TeamName == row.AwayTeam:
        if row.Winners == 'A':
            df.loc[i, 'Result'] = 'W'
        if row.Winners == 'D':
            df.loc[i, 'Result'] = 'D'
        if row.Winners == 'H':
            df.loc[i, 'Result'] = 'L'
    else:
        if row.Winners == 'H':
            df.loc[i, 'Result'] = 'W'
        if row.Winners == 'D':
            df.loc[i, 'Result'] = 'D'
        if row.Winners == 'A':
            df.loc[i, 'Result'] = 'L'

In [6]:
df.head()

,Match_ID,TeamName,HomeTeam,AwayTeam,Date,Season,Div,HomeTeamGoals,AwayTeamGoals,Winners,Result
0,1092,Bayern Munich,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,W
1,1092,Nurnberg,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,L
2,1093,Bayern Munich,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A,W
3,1093,Stuttgart,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A,L
4,1094,Bayern Munich,Wolfsburg,Bayern Munich,2011-08-13,2011,D1,0,1,A,W

In [7]:
df_weather = df

In [8]:
for i, row in df.iterrows():
    if row.TeamName == row.AwayTeam:
        df.loc[i, 'GoalsScored'] = df.loc[i, 'AwayTeamGoals']
    elif row.TeamName == row.HomeTeam:
        df.loc[i, 'GoalsScored'] = df.loc[i, 'HomeTeamGoals']

In [9]:
df.head()

,Match_ID,TeamName,HomeTeam,AwayTeam,Date,Season,Div,HomeTeamGoals,AwayTeamGoals,Winners,Result,GoalsScored
0,1092,Bayern Munich,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,W,1.0
1,1092,Nurnberg,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,L,0.0
2,1093,Bayern Munich,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A,W,2.0
3,1093,Stuttgart,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A,L,1.0
4,1094,Bayern Munich,Wolfsburg,Bayern Munich,2011-08-13,2011,D1,0,1,A,W,1.0

In [10]:
total_goals_scored = df.pivot_table(index = 'TeamName', aggfunc='sum')
total_goals_scored = total_goals_scored.rename(columns={"GoalsScored":"Total Goals Scored (2011 Season)"})
total_goals_scored = total_goals_scored.drop(columns = ['AwayTeamGoals','HomeTeamGoals','Match_ID','Season'])
total_goals_scored = total_goals_scored.reset_index()
total_goals_scored['Total Goals Scored (2011 Season)'].astype(int)
total_goals_scored.head()

        TeamName  Total Goals Scored (2011 Season)
0         Aachen                              30.0
1       Augsburg                              36.0
2  Bayern Munich                              77.0
3         Bochum                              41.0
4   Braunschweig                              37.0

In [11]:
wins_and_losses = df.pivot_table(df, index = 'TeamName', columns=['Result'], aggfunc='count')
wins_and_losses = wins_and_losses.drop(columns = ['AwayTeam', 'AwayTeamGoals', 'Date', 'Div','HomeTeamGoals','Match_ID','Season','GoalsScored','HomeTeam'])
wins_and_losses.head()

              Winners
Result              D   L   W
TeamName
Aachen             13  15   6
Augsburg           14  12   8
Bayern Munich       4   7  23
Bochum              7  17  10
Braunschweig       15   9  10

In [12]:
wins_and_losses.columns = [col[1] for col in wins_and_losses.columns]
wins_and_losses.reset_index(inplace=True)
wins_and_losses.head(1)

  TeamName   D   L  W
0   Aachen  13  15  6

In [13]:
team_data = pd.concat([total_goals_scored, wins_and_losses], axis=1)
team_data = team_data.loc[:,~team_data.columns.duplicated()] # the ~ inverts the boolean statement from team_data.columns.duplicated() because wewant to keep non-duplicates
team_data.head()

        TeamName  Total Goals Scored (2011 Season)   D   L   W
0         Aachen                              30.0  13  15   6
1       Augsburg                              36.0  14  12   8
2  Bayern Munich                              77.0   4   7  23
3         Bochum                              41.0   7  17  10
4   Braunschweig                              37.0  15   9  10

In [14]:
# cur.execute("""SELECT *
#                 FROM Matches
#                 WHERE Season = 2011
#                 ;""")
# df_2 = pd.DataFrame(cur.fetchall())
# df_2.columns = [x[0] for x in cur.description]
# df_2.head()

In [15]:
# len(df_2)

In [16]:
# non_German_div_index = df_2[df_2['Div'] == "E0" ].index
# df_2.drop(non_German_div_index , inplace=True)

In [17]:
# len(df_2)

# Connecting to the DarkSky API

In [ ]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [ ]:
keys = get_keys("/Users/ravimalde/.secret/dark_sky_api_2.json")
api_key = keys['api_key']

In [ ]:
latitude = 52.5200
longitude = 13.4050

date = "2020-01-30"
url = "https://api.darksky.net/forecast/{}/{},{},{}T16:00:00".format(api_key, latitude, longitude, date)
r = requests.get(url)

In [ ]:
r.json().keys()

In [ ]:
r.json()['daily']

In [ ]:
small_df = df_2.head(2)
small_df

In [ ]:
# latitude = 52.5200
# longitude = 13.4050

# for i, row in small_df.iterrows():
    
#     date = df.loc[i, 'Date']
#     url = "https://api.darksky.net/forecast/{}/{},{},{}T16:00:00".format(api_key, latitude, longitude, date)
#     r = requests.get(url)
# #     rain_probability = r.json()['currently']['precipProbability']
#     weather_summary = r.json()['daily']['data'][0]['summary']
# #     small_df['ChanceOfRain'] = rain_probability
#     small_df['Weather'] = weather_summary

In [ ]:
small_df

In [ ]:
len(df_2)

In [ ]:
# latitude = 52.5200
# longitude = 13.4050

# for i, row in df_2.iterrows():
    
#     date = df_2.loc[i, 'Date']
#     url = "https://api.darksky.net/forecast/{}/{},{},{}T16:00:00".format(api_key, latitude, longitude, date)
#     r = requests.get(url)
#     weather_summary = r.json()['daily']['data'][0].get("icon", "clear")
#     df_2.loc[i, 'Weather'] = weather_summary

In [ ]:
df_2.head()

In [ ]:
# df_2.to_csv("matches_with_weather.csv")

In [18]:
df_matches_with_weather = pd.read_csv("matches_with_weather.csv")

In [19]:
df_matches_with_weather.head()

,Unnamed: 0,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Weather
0,0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,rain
1,1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,partly-cloudy-day
2,2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,partly-cloudy-day
3,3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,wind
4,4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,partly-cloudy-day

In [20]:
weather_dict = {}

for i, row in df_matches_with_weather.iterrows():
    weather_dict[df_matches_with_weather.loc[i, 'Match_ID']] = df_matches_with_weather.loc[i,'Weather']
    
weather_dict

{1092: 'rain',
 1093: 'partly-cloudy-day',
 1094: 'partly-cloudy-day',
 1095: 'wind',
 1096: 'partly-cloudy-day',
 1097: 'rain',
 1098: 'partly-cloudy-day',
 1099: 'partly-cloudy-day',
 1100: 'rain',
 1101: 'clear',
 1102: 'clear',
 1103: 'clear',
 1104: 'partly-cloudy-day',
 1105: 'clear',
 1106: 'clear',
 1107: 'rain',
 1108: 'partly-cloudy-day',
 1109: 'partly-cloudy-day',
 1110: 'rain',
 1111: 'partly-cloudy-day',
 1112: 'partly-cloudy-day',
 1113: 'partly-cloudy-day',
 1114: 'clear',
 1115: 'rain',
 1116: 'rain',
 1117: 'clear',
 1118: 'rain',
 1119: 'partly-cloudy-day',
 1120: 'partly-cloudy-day',
 1121: 'partly-cloudy-day',
 1122: 'partly-cloudy-day',
 1123: 'clear',
 1124: 'clear',
 1125: 'clear',
 1126: 'rain',
 1127: 'partly-cloudy-day',
 1128: 'clear',
 1129: 'rain',
 1130: 'rain',
 1131: 'clear',
 1132: 'partly-cloudy-day',
 1133: 'partly-cloudy-day',
 1134: 'wind',
 1135: 'rain',
 1136: 'partly-cloudy-day',
 1137: 'clear',
 1138: 'partly-cloudy-day',
 1139: 'partly-cloudy-day',
 1140: 'clear',
 1141: 'partly-cloudy-day',
 1142: 'clear',
 1143: 'rain',
 1144: 'rain',
 1145: 'rain',
 1146: 'rain',
 1147: 'partly-cloudy-day',
 1148: 'clear',
 1149: 'partly-cloudy-day',
 1150: 'partly-cloudy-day',
 1151: 'clear',
 1152: 'partly-cloudy-day',
 1153: 'partly-cloudy-day',
 1154: 'clear',
 1155: 'clear',
 1156: 'rain',
 1157: 'partly-cloudy-day',
 1158: 'rain',
 1159: 'partly-cloudy-day',
 1160: 'clear',
 1161: 'partly-cloudy-day',
 1162: 'clear',
 1163: 'clear',
 1164: 'clear',
 1165: 'partly-cloudy-day',
 1166: 'clear',
 1167: 'partly-cloudy-day',
 1168: 'rain',
 1169: 'clear',
 1170: 'partly-cloudy-day',
 1171: 'rain',
 1172: 'partly-cloudy-day',
 1173: 'partly-cloudy-day',
 1174: 'partly-cloudy-day',
 1175: 'rain',
 1176: 'clear',
 1177: 'rain',
 1178: 'rain',
 1179: 'clear',
 1180: 'partly-cloudy-day',
 1181: 'clear',
 1182: 'clear',
 1183: 'partly-cloudy-day',
 1184: 'partly-cloudy-day',
 1185: 'partly-cloudy-day',
 1186: 'partly-cloudy-day',
 1187: 'clear',
 1188: 'partly-cloudy-day',
 1189: 'rain',
 1190: 'clear',
 1191: 'partly-cloudy-day',
 1192: 'partly-cloudy-day',
 1193: 'partly-cloudy-day',
 1194: 'rain',
 1195: 'clear',
 1196: 'partly-cloudy-day',
 1197: 'partly-cloudy-day',
 1198: 'partly-cloudy-day',
 1199: 'clear',
 1200: 'clear',
 1201: 'partly-cloudy-day',
 1202: 'clear',
 1203: 'rain',
 1204: 'partly-cloudy-day',
 1205: 'partly-cloudy-day',
 1206: 'rain',
 1207: 'rain',
 1208: 'partly-cloudy-day',
 1209: 'clear',
 1210: 'clear',
 1211: 'clear',
 1212: 'partly-cloudy-day',
 1213: 'partly-cloudy-day',
 1214: 'clear',
 1215: 'rain',
 1216: 'partly-cloudy-day',
 1217: 'partly-cloudy-day',
 1218: 'partly-cloudy-day',
 1219: 'rain',
 1220: 'clear-day',
 1221: 'partly-cloudy-day',
 1222: 'rain',
 1223: 'rain',
 1224: 'partly-cloudy-day',
 1225: 'rain',
 1226: 'clear',
 1227: 'partly-cloudy-day',
 1228: 'partly-cloudy-day',
 1229: 'rain',
 1230: 'partly-cloudy-day',
 1231: 'clear',
 1232: 'clear',
 1233: 'partly-cloudy-day',
 1234: 'partly-cloudy-day',
 1235: 'partly-cloudy-day',
 1236: 'partly-cloudy-day',
 1237: 'rain',
 1238: 'clear',
 1239: 'clear',
 1240: 'rain',
 1241: 'partly-cloudy-day',
 1242: 'clear',
 1243: 'clear',
 1244: 'partly-cloudy-day',
 1245: 'clear',
 1246: 'cloudy',
 1247: 'clear',
 1248: 'clear',
 1249: 'partly-cloudy-day',
 1250: 'rain',
 1251: 'partly-cloudy-day',
 1252: 'clear',
 1253: 'partly-cloudy-day',
 1254: 'clear',
 1255: 'partly-cloudy-day',
 1256: 'rain',
 1257: 'clear',
 1258: 'partly-cloudy-day',
 1259: 'clear',
 1260: 'rain',
 1261: 'rain',
 1262: 'clear',
 1263: 'rain',
 1264: 'clear',
 1265: 'cloudy',
 1266: 'partly-cloudy-day',
 1267: 'clear',
 1268: 'partly-cloudy-day',
 1269: 'partly-cloudy-day',
 1270: 'rain',
 1271: 'partly-cloudy-day',
 1272: 'partly-cloudy-day',
 1273: 'partly-cloudy-day',
 1274: 'clear',
 1275: 'partly-cloudy-day',
 1276: 'rain',
 1277: 'partly-cloudy-day',
 1278: 'clear',
 1279: 'clear',
 1280: 'partly-cloudy-day',
 1281: 'partly-cloudy-day',
 1282: 'partly-cloudy-day',
 1283: 'clear',
 1284: 'rain',
 1285: 'clear',
 1286: 'partly-cloudy-day',
 1287: 'partly-cloudy-day',
 1288: 'partly-cloudy-day',
 1289: 'partly-cloudy-day',
 1290: 'rain',
 1291: 'partly-cloudy-day',
 1292: 'rain',
 1293: 'clear',
 1294: 'clear',
 1295: 'clear',
 1296: 'partly-cloudy-day',
 1297: 'partly-cloudy-day',
 1298: 'rain',
 1299: 'partly-cloudy-day',
 1300: 'clear',
 1301: 'rain',
 1302: 'clear',
 1303: 'partly-cloudy-day',
 1304: 'rain',
 1305: 'clear',
 1306: 'partly-cloudy-day',
 1307: 'partly-cloudy-day',
 1308: 'partly-cloudy-day',
 1309: 'clear',
 1310: 'partly-cloudy-day',
 1311: 'rain',
 1312: 'clear',
 1313: 'rain',
 1314: 'clear',
 1315: 'partly-cloudy-day',
 1316: 'clear',
 1317: 'partly-cloudy-day',
 1318: 'partly-cloudy-day',
 1319: 'clear',
 1320: 'clear',
 1321: 'clear',
 1322: 'partly-cloudy-day',
 1323: 'clear',
 1324: 'clear',
 1325: 'partly-cloudy-day',
 1326: 'rain',
 1327: 'partly-cloudy-day',
 1328: 'partly-cloudy-day',
 1329: 'wind',
 1330: 'partly-cloudy-day',
 1331: 'clear',
 1332: 'partly-cloudy-day',
 1333: 'clear',
 1334: 'partly-cloudy-day',
 1335: 'rain',
 1336: 'clear',
 1337: 'partly-cloudy-day',
 1338: 'clear',
 1339: 'partly-cloudy-day',
 1340: 'partly-cloudy-day',
 1341: 'partly-cloudy-day',
 1342: 'partly-cloudy-day',
 1343: 'rain',
 1344: 'clear',
 1345: 'partly-cloudy-day',
 1346: 'rain',
 1347: 'wind',
 1348: 'partly-cloudy-day',
 1349: 'rain',
 1350: 'partly-cloudy-day',
 1351: 'rain',
 1352: 'partly-cloudy-day',
 1353: 'partly-cloudy-day',
 1354: 'clear',
 1355: 'partly-cloudy-day',
 1356: 'rain',
 1357: 'clear',
 1358: 'partly-cloudy-day',
 1359: 'clear',
 1360: 'rain',
 1361: 'partly-cloudy-day',
 1362: 'rain',
 1363: 'clear',
 1364: 'clear',
 1365: 'partly-cloudy-day',
 1366: 'clear',
 1367: 'clear',
 1368: 'clear',
 1369: 'clear',
 1370: 'rain',
 1371: 'partly-cloudy-day',
 1372: 'clear',
 1373: 'partly-cloudy-day',
 1374: 'partly-cloudy-day',
 1375: 'partly-cloudy-day',
 1376: 'partly-cloudy-day',
 1377: 'partly-cloudy-day',
 1378: 'clear',
 1379: 'partly-cloudy-day',
 1380: 'rain',
 1381: 'partly-cloudy-day',
 1382: 'clear',
 1383: 'partly-cloudy-day',
 1384: 'partly-cloudy-day',
 1385: 'rain',
 1386: 'rain',
 1387: 'partly-cloudy-day',
 1388: 'clear',
 1389: 'clear',
 1390: 'partly-cloudy-day',
 1391: 'clear',
 1392: 'partly-cloudy-day',
 1393: 'partly-cloudy-day',
 1394: 'clear',
 1395: 'rain',
 1396: 'rain',
 1397: 'partly-cloudy-day',
 1398: 'clear',
 1399: 'partly-cloudy-day',
 1400: 'partly-cloudy-day',
 1401: 'clear',
 1402: 'partly-cloudy-day',
 1403: 'clear',
 1404: 'clear',
 1405: 'partly-cloudy-day',
 1406: 'partly-cloudy-day',
 1407: 'partly-cloudy-day',
 1408: 'partly-cloudy-day',
 1409: 'clear',
 1410: 'clear',
 1411: 'rain',
 1412: 'clear',
 1413: 'partly-cloudy-day',
 1414: 'rain',
 1415: 'clear',
 1416: 'clear',
 1417: 'partly-cloudy-day',
 1418: 'clear',
 1419: 'rain',
 1420: 'rain',
 1421: 'rain',
 1422: 'rain',
 1423: 'partly-cloudy-day',
 1424: 'rain',
 1425: 'clear',
 1426: 'clear',
 1427: 'partly-cloudy-day',
 1428: 'clear',
 1429: 'rain',
 1430: 'partly-cloudy-day',
 1431: 'partly-cloudy-day',
 1432: 'clear',
 1433: 'rain',
 1434: 'partly-cloudy-day',
 1435: 'clear-day',
 1436: 'clear',
 1437: 'clear',
 1438: 'clear',
 1439: 'partly-cloudy-day',
 1440: 'partly-cloudy-day',
 1441: 'rain',
 1442: 'rain',
 1443: 'partly-cloudy-day',
 1444: 'clear',
 1445: 'rain',
 1446: 'partly-cloudy-day',
 1447: 'cloudy',
 1448: 'rain',
 1449: 'rain',
 1450: 'partly-cloudy-day',
 1451: 'partly-cloudy-day',
 1452: 'clear',
 1453: 'rain',
 1454: 'clear',
 1455: 'partly-cloudy-day',
 1456: 'partly-cloudy-day',
 1457: 'rain',
 1458: 'rain',
 1459: 'partly-cloudy-day',
 1460: 'clear',
 1461: 'partly-cloudy-day',
 1462: 'partly-cloudy-day',
 1463: 'partly-cloudy-day',
 1464: 'rain',
 1465: 'partly-cloudy-day',
 1466: 'rain',
 1467: 'clear',
 1468: 'clear',
 1469: 'clear',
 1470: 'clear',
 1471: 'partly-cloudy-day',
 1472: 'rain',
 1473: 'rain',
 1474: 'rain',
 1475: 'rain',
 1476: 'clear',
 1477: 'partly-cloudy-day',
 1478: 'clear',
 1479: 'partly-cloudy-day',
 1480: 'partly-cloudy-day',
 1481: 'partly-cloudy-day',
 1482: 'partly-cloudy-day',
 1483: 'clear',
 1484: 'clear',
 1485: 'rain',
 1486: 'partly-cloudy-day',
 1487: 'partly-cloudy-day',
 1488: 'partly-cloudy-day',
 1489: 'partly-cloudy-day',
 1490: 'partly-cloudy-day',
 1491: 'rain',
 1492: 'partly-cloudy-day',
 1493: 'partly-cloudy-day',
 1494: 'partly-cloudy-day',
 1495: 'clear',
 1496: 'clear',
 1497: 'clear',
 1498: 'rain',
 1499: 'clear',
 1500: 'clear',
 1501: 'partly-cloudy-day',
 1502: 'partly-cloudy-day',
 1503: 'partly-cloudy-day',
 1504: 'clear',
 1505: 'rain',
 1506: 'clear',
 1507: 'partly-cloudy-day',
 1508: 'partly-cloudy-day',
 1509: 'partly-cloudy-day',
 1510: 'rain',
 1511: 'partly-cloudy-day',
 1512: 'clear',
 1513: 'rain',
 1514: 'clear',
 1515: 'partly-cloudy-day',
 1516: 'clear',
 1517: 'partly-cloudy-day',
 1518: 'clear',
 1519: 'partly-cloudy-day',
 1520: 'partly-cloudy-day',
 1521: 'partly-cloudy-day',
 1522: 'partly-cloudy-day',
 1523: 'clear',
 1524: 'rain',
 1525: 'rain',
 1526: 'clear',
 1527: 'clear',
 1528: 'rain',
 1529: 'rain',
 1530: 'clear',
 1531: 'rain',
 1532: 'rain',
 1533: 'clear',
 1534: 'clear',
 1535: 'partly-cloudy-day',
 1536: 'clear-day',
 1537: 'partly-cloudy-day',
 1538: 'clear',
 1539: 'clear',
 1540: 'rain',
 1541: 'rain',
 1542: 'partly-cloudy-day',
 1543: 'clear',
 1544: 'rain',
 1545: 'rain',
 1546: 'partly-cloudy-day',
 1547: 'clear',
 1548: 'partly-cloudy-day',
 1549: 'rain',
 1550: 'clear',
 1551: 'partly-cloudy-day',
 1552: 'rain',
 1553: 'rain',
 1554: 'partly-cloudy-day',
 1555: 'partly-cloudy-day',
 1556: 'partly-cloudy-day',
 1557: 'clear',
 1558: 'clear',
 1559: 'partly-cloudy-day',
 1560: 'partly-cloudy-day',
 1561: 'partly-cloudy-day',
 1562: 'clear',
 1563: 'rain',
 1564: 'rain',
 1565: 'clear',
 1566: 'partly-cloudy-day',
 1567: 'partly-cloudy-day',
 1568: 'cloudy',
 1569: 'clear',
 1570: 'partly-cloudy-day',
 1571: 'partly-cloudy-day',
 1572: 'clear',
 1573: 'clear',
 1574: 'partly-cloudy-day',
 1575: 'partly-cloudy-day',
 1576: 'partly-cloudy-day',
 1577: 'partly-cloudy-day',
 1578: 'partly-cloudy-day',
 1579: 'partly-cloudy-day',
 1580: 'partly-cloudy-day',
 1581: 'partly-cloudy-day',
 1582: 'rain',
 1583: 'partly-cloudy-day',
 1584: 'rain',
 1585: 'partly-cloudy-day',
 1586: 'partly-cloudy-day',
 1587: 'rain',
 1588: 'partly-cloudy-day',
 1589: 'partly-cloudy-day',
 1590: 'rain',
 1591: 'clear',
 1592: 'clear',
 1593: 'clear',
 1594: 'clear',
 1595: 'partly-cloudy-day',
 1596: 'rain',
 1597: 'clear',
 1598: 'clear',
 1599: 'partly-cloudy-day',
 1600: 'partly-cloudy-day',
 1601: 'partly-cloudy-day',
 1602: 'rain',
 1603: 'clear',
 1604: 'rain',
 1605: 'partly-cloudy-day',
 1606: 'clear',
 1607: 'clear',
 1608: 'partly-cloudy-day',
 1609: 'rain',
 1610: 'rain',
 1611: 'partly-cloudy-day',
 1612: 'rain',
 1613: 'rain',
 1614: 'partly-cloudy-day',
 1615: 'partly-cloudy-day',
 1616: 'partly-cloudy-day',
 1617: 'clear',
 1618: 'clear',
 1619: 'partly-cloudy-day',
 1620: 'clear',
 1621: 'clear',
 1622: 'rain',
 1623: 'partly-cloudy-day',
 1624: 'clear',
 1625: 'partly-cloudy-day',
 1626: 'clear',
 1627: 'partly-cloudy-day',
 1628: 'clear',
 1629: 'partly-cloudy-day',
 1630: 'clear',
 1631: 'partly-cloudy-day',
 1632: 'clear',
 1633: 'rain',
 1634: 'clear',
 1635: 'partly-cloudy-day',
 1636: 'clear',
 1637: 'partly-cloudy-day',
 1638: 'clear',
 1639: 'partly-cloudy-day',
 1640: 'rain',
 1641: 'clear',
 1642: 'partly-cloudy-day',
 1643: 'partly-cloudy-day',
 1644: 'clear',
 1645: 'rain',
 1646: 'partly-cloudy-day',
 1647: 'clear',
 1648: 'rain',
 1649: 'partly-cloudy-day',
 1650: 'clear',
 1651: 'partly-cloudy-day',
 1652: 'partly-cloudy-day',
 1653: 'partly-cloudy-day',
 1654: 'rain',
 1655: 'clear',
 1656: 'partly-cloudy-day',
 1657: 'partly-cloudy-day',
 1658: 'clear',
 1659: 'clear',
 1660: 'rain',
 1661: 'partly-cloudy-day',
 1662: 'clear',
 1663: 'clear',
 1664: 'partly-cloudy-day',
 1665: 'clear',
 1666: 'partly-cloudy-day',
 1667: 'rain',
 1668: 'partly-cloudy-day',
 1669: 'partly-cloudy-day',
 1670: 'clear-day',
 1671: 'wind',
 1672: 'clear',
 1673: 'clear',
 1674: 'partly-cloudy-day',
 1675: 'partly-cloudy-day',
 1676: 'rain',
 1677: 'rain',
 1678: 'clear',
 1679: 'partly-cloudy-day',
 1680: 'partly-cloudy-day',
 1681: 'partly-cloudy-day',
 1682: 'clear',
 1683: 'rain',
 1684: 'rain',
 1685: 'rain',
 1686: 'partly-cloudy-day',
 1687: 'clear',
 1688: 'clear',
 1689: 'partly-cloudy-day',
 1690: 'clear',
 1691: 'clear',
 1692: 'partly-cloudy-day',
 1693: 'partly-cloudy-day',
 1694: 'clear',
 1695: 'clear',
 1696: 'partly-cloudy-day',
 1697: 'partly-cloudy-day',
 1698: 'rain',
 1699: 'partly-cloudy-day',
 1700: 'partly-cloudy-day',
 1701: 'rain',
 1702: 'partly-cloudy-day',
 1703: 'partly-cloudy-day'}

In [21]:
df_weather.head()

,Match_ID,TeamName,HomeTeam,AwayTeam,Date,Season,Div,HomeTeamGoals,AwayTeamGoals,Winners,Result,GoalsScored
0,1092,Bayern Munich,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,W,1.0
1,1092,Nurnberg,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,L,0.0
2,1093,Bayern Munich,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A,W,2.0
3,1093,Stuttgart,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A,L,1.0
4,1094,Bayern Munich,Wolfsburg,Bayern Munich,2011-08-13,2011,D1,0,1,A,W,1.0

In [22]:
for i,row in df_weather.iterrows():
    for key,value in weather_dict.items():
        if row.Match_ID == key:
            df_weather.loc[i,'Weather'] = value

In [23]:
df_weather.head()

,Match_ID,TeamName,HomeTeam,AwayTeam,Date,Season,Div,HomeTeamGoals,AwayTeamGoals,Winners,Result,GoalsScored,Weather
0,1092,Bayern Munich,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,W,1.0,rain
1,1092,Nurnberg,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,L,0.0,rain
2,1093,Bayern Munich,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A,W,2.0,partly-cloudy-day
3,1093,Stuttgart,Stuttgart,Bayern Munich,2011-12-11,2011,D1,1,2,A,L,1.0,partly-cloudy-day
4,1094,Bayern Munich,Wolfsburg,Bayern Munich,2011-08-13,2011,D1,0,1,A,W,1.0,partly-cloudy-day

In [24]:
df_weather['Weather'].unique()

array(['rain', 'partly-cloudy-day', 'wind', 'clear', 'clear-day',
       'cloudy'], dtype=object)

In [25]:
df_weather.drop(
    df_weather[df_weather['Weather'] != "rain"]
    .index, inplace=True)

In [26]:
df_weather.head()

,Match_ID,TeamName,HomeTeam,AwayTeam,Date,Season,Div,HomeTeamGoals,AwayTeamGoals,Winners,Result,GoalsScored,Weather
0,1092,Bayern Munich,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,W,1.0,rain
1,1092,Nurnberg,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,L,0.0,rain
10,1097,Bayern Munich,M'gladbach,Bayern Munich,2012-01-20,2011,D1,3,1,H,L,1.0,rain
11,1097,M'gladbach,M'gladbach,Bayern Munich,2012-01-20,2011,D1,3,1,H,W,3.0,rain
16,1100,Bayern Munich,Schalke 04,Bayern Munich,2011-09-18,2011,D1,0,2,A,W,2.0,rain

In [27]:
df_rainy_matches = df_weather
df_rainy_matches.head()

,Match_ID,TeamName,HomeTeam,AwayTeam,Date,Season,Div,HomeTeamGoals,AwayTeamGoals,Winners,Result,GoalsScored,Weather
0,1092,Bayern Munich,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,W,1.0,rain
1,1092,Nurnberg,Nurnberg,Bayern Munich,2012-03-31,2011,D1,0,1,A,L,0.0,rain
10,1097,Bayern Munich,M'gladbach,Bayern Munich,2012-01-20,2011,D1,3,1,H,L,1.0,rain
11,1097,M'gladbach,M'gladbach,Bayern Munich,2012-01-20,2011,D1,3,1,H,W,3.0,rain
16,1100,Bayern Munich,Schalke 04,Bayern Munich,2011-09-18,2011,D1,0,2,A,W,2.0,rain

In [28]:
rainy_wins_and_losses = df_rainy_matches.pivot_table(df, index = 'TeamName', columns=['Result'], aggfunc='count')
rainy_wins_and_losses = rainy_wins_and_losses.drop(columns = ['AwayTeam', 'AwayTeamGoals', 'Date', 'Div','HomeTeamGoals','Match_ID','Season','GoalsScored','HomeTeam','Weather'])
rainy_wins_and_losses.head()

              Winners
Result              D    L    W
TeamName
Aachen            4.0  1.0  2.0
Augsburg          3.0  NaN  3.0
Bayern Munich     NaN  2.0  5.0
Bochum            1.0  5.0  2.0
Braunschweig      1.0  1.0  4.0

In [29]:
rainy_wins_and_losses.columns = [col[1] for col in rainy_wins_and_losses.columns]
rainy_wins_and_losses.reset_index(inplace=True)
rainy_wins_and_losses.head(5)

        TeamName    D    L    W
0         Aachen  4.0  1.0  2.0
1       Augsburg  3.0  NaN  3.0
2  Bayern Munich  NaN  2.0  5.0
3         Bochum  1.0  5.0  2.0
4   Braunschweig  1.0  1.0  4.0

In [30]:
rainy_wins_and_losses['D'] = rainy_wins_and_losses['D'].fillna(0)
rainy_wins_and_losses['L'] = rainy_wins_and_losses['L'].fillna(0)
rainy_wins_and_losses['W'] = rainy_wins_and_losses['W'].fillna(0)
rainy_wins_and_losses.head()

        TeamName    D    L    W
0         Aachen  4.0  1.0  2.0
1       Augsburg  3.0  0.0  3.0
2  Bayern Munich  0.0  2.0  5.0
3         Bochum  1.0  5.0  2.0
4   Braunschweig  1.0  1.0  4.0

In [31]:
rainy_wins_and_losses['rainy_win_percentage'] = round((rainy_wins_and_losses['W']/(rainy_wins_and_losses['W']
                                                                             +rainy_wins_and_losses['D']+
                                                                             rainy_wins_and_losses['L']))*100, 1)

In [32]:
rainy_wins_and_losses.head()

        TeamName    D    L    W  rainy_win_percentage
0         Aachen  4.0  1.0  2.0                  28.6
1       Augsburg  3.0  0.0  3.0                  50.0
2  Bayern Munich  0.0  2.0  5.0                  71.4
3         Bochum  1.0  5.0  2.0                  25.0
4   Braunschweig  1.0  1.0  4.0                  66.7

In [33]:
team_data = pd.concat([team_data, rainy_wins_and_losses], axis=1)
team_data = team_data.loc[:,~team_data.columns.duplicated()]
team_data.head()

,TeamName,Total Goals Scored (2011 Season),D,L,W,rainy_win_percentage
0,Aachen,30.0,13,15,6,28.6
1,Augsburg,36.0,14,12,8,50.0
2,Bayern Munich,77.0,4,7,23,71.4
3,Bochum,41.0,7,17,10,25.0
4,Braunschweig,37.0,15,9,10,66.7